
<div class="container p-5">
  <div class="form mb-3">
<%= render "form", list: @list %>
  </div>
<button type="button" class="btn btn-outline-secondary"><%= link_to "go back to the list", lists_path, class:"text-decoration-none text-dark"%></button>
</div>
